@model sample.FilterConfig

@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <title>Infuent Admin</title>

    <style>
        :root {
            --main-color: #2A3456;
            --color-dark: #1D2231;
            --text-grey: #8390A2;
        }

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            list-style-type: none;
            text-decoration: none;
            font-family: 'Poppins',sans-serif;
        }

        .sidebar {
            width: 345px;
            position: fixed;
            left: 0;
            top: 0;
            height: 100%;
            background: var(--main-color);
            z-index: 100;
        }

        .sidebar-brand {
            height: 90px;
            padding: 1rem 0rem 1rem 2rem;
            color: #fff;
        }

            .sidebar-brand span {
                display: inline-block;
                padding-right: 1rem;
            }

        .sidebar-menu {
            margin-top: 1rem;
        }

            .sidebar-menu li {
                width: 100%;
                margin-bottom: 1.7rem;
                padding-left: 2rem;
            }

            .sidebar-menu a {
                padding-left: 1rem;
                display: block;
                color: #fff;
                font-size: 1.2rem
            }

                .sidebar-menu a.active {
                    background: #fff;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    color: var(--main-color);
                    border-radius: 30px 0px 0px 30px;
                }

                .sidebar-menu a span:first-child {
                    font-size: 1.2rem;
                    padding-right: 1rem;
                }

        #nav-toggle :checked + .sidebar {
            width: 70px;
        }

        .main-content {
            margin-left: 345px;
        }

        header {
            display: flex;
            justify-content: space-between;
            padding: 1rem 1.5rem;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
            position: fixed;
            left: 345px;
            width: calc(100% - 345px);
            top: 0;
            z-index: 100;
        }

        #nav-toggle {
            display: none;
        }

        header h2 {
            color: #222;
        }

        header label span {
            font-size: 1.7rem;
            padding-right: 1rem;
        }

        .search-wrapper {
            border: 1px solid #ccc;
            border-radius: 30px;
            height: 50px;
            display: flex;
            align-items: center;
            overflow-x: hidden;
        }

            .search-wrapper span {
                display: inline-block;
                padding: 0rem 1rem;
                font-size: 1.5rem;
            }

            .search-wrapper input {
                height: 100%;
                padding: .5rem;
                border: none;
                outline: none;
            }

        .user-wrapper {
            display: flex;
            align-items: center;
        }

            .user-wrapper img {
                border-radius: 50%;
                margin-right: 1rem;
            }

            .user-wrapper small {
                display: inline-block;
                color: var(--text-grey);
            }

        main {
            margin-top: 85px;
            padding: 2rem 1.5rem;
            background: #f1f5f9;
            min-height: calc(100vh - 90px);
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 2rem;
            margin-top: 1rem;
        }

        .card-single {
            display: flex;
            justify-content: space-between;
            background: #fff;
            padding: 2rem;
            border-radius: 2px;
        }

            .card-single div:last-child span {
                font-size: 3rem;
                color: var(--main-color);
            }

            .card-single div:first-child span {
                color: var(--text-grey);
            }

        .recent-grid {
            margin-top: 3.5rem;
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: 67% auto;
        }

        .card {
            background: #fff;
            border-radius: 5px;
        }

        .card-header,
        .card-body {
            padding: 1rem;
        }

        .card-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #f0f0f0;
        }

            .card-header button {
                background: var(--main-color);
                border-radius: 10px;
                color: #fff;
                font-size: .8rem;
                padding: .5rem 1rem;
                border: 1px solid var(--main-color);
            }

        table {
            border-collapse: collapse;
        }

        thead tr {
            border-top: 1px solid #f0f0f0;
            border-bottom: 2px solid #f0f0f0;
        }

        thead td {
            font-weight: 700;
        }

        td {
            padding: .5rem 1rem;
            font-size: .9rem;
            color: #222;
        }

        tr td:last-child {
            display: flex;
            align-items: center;
        }

        .table-responsive {
            width: 100%;
            overflow-x: auto;
        }

        .student {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5rem .7rem;
        }

        .info {
            display: flex;
            align-items: center;
        }

            .info span {
                border-radius: 50%;
                margin-right: 1rem;
            }

            .info h4 {
                font-size: .8rem;
                font-weight: 700;
                color: #222;
            }

            .info small {
                font-weight: 600;
                color: var(--text-grey);
            }

        .contact span {
            font-size: 1.2rem;
            display: inline-block;
            margin-top: .5rem;
            color: var(--main-color);
        }
    </style>
</head>
<body>
    <input type="checkbox" id="nav-toggle">
    <div class="sidebar">
        <div class="sidebar-brand">
            <h1><span class="lab la-skyatlas">   LMS   </span></h1>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="" class="active">

                        <span class="las la-igloo"></span>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>

                    <a href="@Url.Action("CoursesList","Admin")">
                        <span class="las la-book-open"></span>
                        <span>Courses</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Faculty","Payments")">
                        <span class="las la-chalkboard-teacher"></span>
                        <span>Faculty</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Students","Payments")">
                        <span class="las la-book-reader"></span>
                        <span>Students</span>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Payments","Payments")">
                        <span class="lab la-amazon-pay"></span>
                        <span>Payments</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="main-content">
        <header>
            <h2>
                <label for="nav-toggle">
                    <span class="las la-bars"></span>
                </label>

                Dashboard
            </h2>
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Search here" />
            </div>
            <div class="user-wrapper">
                <span class="las la-user-tie"></span>
                <img src="user.png" alt="">
                <h4>Admin</h4>
            </div>

        </header>
        <main>
            <div class="cards">
                <div class="card-single">
                    <div>
                        <h2>100</h2>
                        <span>Students</span>
                    </div>
                    <div>
                        <span class="las la-users"></span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h2>1000+</h2>
                        <span>Courses</span>
                    </div>
                    <div>
                        <span class="las la-clipboard"></span>
                    </div>
                </div>
                <div class="card-single">
                    <div>
                        <h2>60</h2>
                        <span>Faculty</span>
                    </div>
                    <div>
                        <span class="las la-users"></span>
                    </div>
                </div>
            </div>
            <div class="recent-grid">
                <div class="payments">
                    <div class="card">
                        <div class="card-header">
                            <h3>Recent Payments</h3>
                            <button>
                                See all <span class="las la-arrow-right">

                                </span>
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <td>Id</td>
                                            <td>Name</td>
                                            <td>Amount</td>
                                            <td>Date</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>101</td>
                                            <td>Ashi</td>
                                            <td>5000</td>
                                            <td>19-9-2021</td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td>101</td>
                                            <td>Ashi</td>
                                            <td>5000</td>
                                            <td>19-9-2021</td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td>101</td>
                                            <td>Ashi</td>
                                            <td>5000</td>
                                            <td>19-9-2021</td>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td>101</td>
                                            <td>Ashi</td>
                                            <td>5000</td>
                                            <td>19-9-2021</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="customers">
                    <div class="card">
                        <div class="card-header">
                            <h2>New Students</h2>
                            <button>
                                See all <span class="las la-arrow-right">

                                </span>
                            </button>
                        </div>
                        <div class="card-body">
                            <div class="student">
                                <div class="info">
                                    <span class="las la-user-tie"></span>
                                    <div>
                                        <h4>Arjun</h4>
                                    </div>
                                </div>
                                <div class="contact">
                                    <span class="las la-user-circle"></span>
                                    <span class="las la-comment"></span>
                                    <span class="las la-phone"></span>
                                </div>
                            </div>

                            <div class="student">
                                <div class="info">
                                    <span class="las la-user-tie"></span>
                                    <div>
                                        <h4>Arjun</h4>
                                    </div>
                                </div>
                                <div class="contact">
                                    <span class="las la-user-circle"></span>
                                    <span class="las la-comment"></span>
                                    <span class="las la-phone"></span>
                                </div>
                            </div>

                            <div class="student">
                                <div class="info">
                                    <span class="las la-user-tie"></span>
                                    <div>
                                        <h4>Arjun</h4>
                                    </div>
                                </div>
                                <div class="contact">
                                    <span class="las la-user-circle"></span>
                                    <span class="las la-comment"></span>
                                    <span class="las la-phone"></span>
                                </div>
                            </div>

                            <div class="student">
                                <div class="info">
                                    <span class="las la-user-tie"></span>
                                    <div>
                                        <h4>Arjun</h4>
                                    </div>
                                </div>
                                <div class="contact">
                                    <span class="las la-user-circle"></span>
                                    <span class="las la-comment"></span>
                                    <span class="las la-phone"></span>
                                </div>
                            </div>

                            <div class="student">
                                <div class="info">
                                    <span class="las la-user-tie"></span>
                                    <div>
                                        <h4>Arjun</h4>
                                    </div>
                                </div>
                                <div class="contact">
                                    <span class="las la-user-circle"></span>
                                    <span class="las la-comment"></span>
                                    <span class="las la-phone"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    


</body>
</html>


