body {
    background-image: url('/images/Picture1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-primaryn {
    color: #000 !important;
}

.text-primary1 {
    color: #fff !important;
}

.tablen {
    background-color: #003147;
}

.btn-infon {
    color: #fff;
    background-color: #003147;
    border-color: #003147;
}
.container .row{
    color:#fff;
}
