html, body {
    background: white;
    font-family: 'Poppins';
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgba(34,54,69,.7);
    font-weight: 500;
}

    a:hover {
        color: darkblue;
    }

ul {
    list-style-type: none;
}

.navbar {
    background: white;
    padding: 1rem 1rem;
    height: 0rem;
    min-height: 12vh;
}

    .navbar .navbar-brand a {
        padding: 1rem 0;
        display: block;
        text-decoration: none;
    }

.navbar-toggler {
    background: lightblue;
    border: none;
    padding: 10px 6px;
    outline: none;
}

    .navbar-toggler span {
        display: block;
        width: 22px;
        height: 2px;
        border: 1px;
        background: #fff;
    }

        .navbar-toggler span + span {
            margin-top: 4px;
            width: 18px;
            margin-left: 4px;
        }



.form-box {
    width: 500px;
    background: rgba(0,0,0,0.8);
    margin: 4% auto;
    padding: 40px 0px;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}

h3 {
    text-align: center;
    margin-bottom: 40px;
}

.input-box {
    margin: 31px auto;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}

    .input-box input {
        font: sans-serif;
        font-size: 18px;
        width: 90%;
        border: none;
        outline: none;
        background: transparent;
        color: #fff;
    }

::placeholder {
    color: #ccc;
}

.fa {
    margin-right: 10px;
}

.eye {
    position: absolute;
}

#hide1 {
    display: none;
}

#hide3 {
    display: none;
}

#hide5 {
    display: none;
}

.login-btn {
    margin: 40px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
}


footer {
    padding: 10px 20px;
    background: #666;
    color: white;
}
